@inherits LayoutComponentBase


    <MudThemeProvider />
    <MudPopoverProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />

    <MudStack>
        <MyNavMenu />

        <div class="mainlayout-main">
            @Body
        </div>


        <div class="mainlayout-footer">
            <span>DatingApp © 2024</span>
        </div>
    </MudStack>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>