@inherits LayoutComponentBase

<CascadingAuthenticationState>
    <MudThemeProvider />
    <MudPopoverProvider />
    @* Needed for dialogs *@
    <MudDialogProvider />
    @* Needed for snackbars *@
    <MudSnackbarProvider />

    <MudGrid Class="mainlayout-root">
        <MudItem xs="12" Class="mainlayout-header">
            <MyNavMenu />
        </MudItem>
        <MudItem xs="12" Class="mainlayout-main">
            <MudContainer>
                @Body
            </MudContainer>
        </MudItem>
        <MudItem xs="12" Class="mainlayout-footer">
            <span>DatingApp © 2024</span>
        </MudItem>
    </MudGrid>

</CascadingAuthenticationState>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>